<% content_for :title do %>

<% end %>

<div class="columns mt-6 is-centered">
<div class="column is-one-quarter">
<div class="card">
<header class="card-header">
    <%= entry.meal_type %>
</header>
    <% @entries.each do |entry|%>
    <%= entry.calories %>
    <%= entry.proteins %>
    <%= entry.carbohydrates %>
    <%= entry.fats %>

    <%= link_to "Show", entry %>
    <%= link_to "Edit", edit_entry_path(entry) %>
    <%= link_to "Destroy", entry, method: :delete, data: {confirm: "Are you sure?"} %>
    </div>
    <div>
    <% end %>
</div>


